---
const title = 'barborka.party';
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
</head>
<body>
  <h1>Hello, barborka.party</h1>
</body>
</html>
