---
import Base from '~/layouts/Base.astro';
import Nav from '~/components/Nav.astro';
import Hero from '~/components/Hero.astro';
import Timeline from '~/components/Timeline.astro';
import RepoGrid from '~/components/RepoGrid.astro';
---
<Base>
  <Nav />
  <main>
    <Hero />
    <Timeline />
    <RepoGrid />
  </main>
</Base>
